{% load static %}
<!--===================================-->
<!--============== FOOTER =============-->
<!--===================================-->
    
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ftrLeftBox">
                    <div class="ftrboxItem">
                        <h3>Contact Information</h3>
                        <p class="infoTitle">ADDRESS</p>
                        <p>288/8/C, Khilgaon, Dhaka </p>
                    </div>
                    <div class="ftrboxItem">
                        <p class="infoTitle">PHONE</p>
                        <p>+880 - 1911 - 480021</p>
                        <p>+880 - 1710 - 320232</p>
                    </div>
                    <div class="ftrboxItem">
                        <p class="infoTitle">EMAIL</p>
                        <p>sonomm@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="ftrRgtBox">
                    <div class="ftrboxItem">
                        <h3>About</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged... <a href="#">Read More</a></p>
                    </div>
                    <div class="ftrBtmBox">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">                                
                                <div class="ftrboxItem">
                                    <h3>My account</h3>
                                    <ul>
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="#">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">                                
                                <div class="ftrboxItem">
                                    <h3>Information</h3>
                                    <ul>                                        
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">                                
                                <div class="ftrboxItem">
                                    <h3>Customer Services</h3> 
                                    <ul>                                        
                                        <li><a href="#">Shipping &amp; Returns</a></li>
                                        <li><a href="#">Secure Shopping</a></li>
                                        <li><a href="#">International Shipping</a></li>
                                        <li><a href="#">Affiliates</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">                                
                                <div class="ftrboxItem">
                                <h3>Payment &amp; Shipping</h3>                                   
                                <ul>                                    
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Shipping Guide</a></li>
                                    <li><a href="#">Locations We Ship To</a></li>
                                    <li><a href="#">Estimated Delivery Time</a></li>
                                </ul>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ftrBtm">
        <a class="ftrLogo" href="{% url 'index' %}"><img src="{% static 'images/content/Sonomm-Logo-Design5.png' %}" alt=""></a>
        <p>Designed and Developed by <a href="http://ceedtech.com/" target="_blank">ceedTech</a></p>
        <p>Copyright - Sonomm 2018</p>
    </div>
</footer>