<div class="updateNews">                
    <div class="glance">
        <ul role="tablist" class="nav nav-tabs fb-tabs" id="myTab">
            <li class="bglight active"><a data-toggle="tab" role="tab" href="#tab1"><span>On going <span class="hideCont">Traning</span></span></a></li>
            <li class="bglight"><a data-toggle="tab" role="tab" href="#tab2"><span>Up coming <span class="hideCont">Traning</span></span></a></li>
            <li class="bglight"><a data-toggle="tab" role="tab" href="#tab3"><span>Previous <span class="hideCont">Traning</span></span></a></li>
        </ul>
        <div class="tab-content bgwhite" id="myTabContent">
            <div id="tab1" class="tab-pane padd30 fade active in" style="text-align:justify">
                <div class="newsBox">
                    <div class="newsBoxIn">
                        <div class="newsImg">
                            <img src="media/images/content/muhit_rana.jpg" alt="">
                        </div>
                         <div class="newsText">
                             <h4>Eagle</h4>
                            <p>Check out our new Writers Arena HTML Template... <a class="moreBtn" href="#">more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-pane padd30 fade">
                <div class="newsBox">
                    <div class="newsBoxIn">
                        <div class="newsImg">
                            <img src="media/images/content/muhit_rana.jpg" alt="">
                        </div>
                         <div class="newsText">
                             <h4>Eagle</h4>
                            <p>Check out our new Writers Arena HTML Template... <a class="moreBtn" href="#">more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab3" class="tab-pane padd30 fade">
                <div class="newsBox">
                    <div class="newsBoxIn">
                        <div class="newsImg">
                            <img src="media/images/content/muhit_rana.jpg" alt="">
                        </div>
                         <div class="newsText">
                             <h4>Eagle</h4>
                            <p>Check out our new Writers Arena HTML Template... <a class="moreBtn" href="#">more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>