
<style type="text/css">
    .slideBg1{background-image:url(media/images/content/slider1.png)}
    .slideBg2{background-image:url(media/images/content/slider2.png)}
    .slideBg3{background-image:url(media/images/content/slider3.png)}

</style>

<!--===================================-->
<!--============ TOP SLIDER ===========-->
<!--===================================-->
    
<div class="topSlider">
    <ul>
        <li class="slideItem slideBg1">
            <div class="container">
                <div class="topCaption">
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn">Read More</a>
                </div>
            </div>
        </li>
        <li class="slideItem slideBg2">
            <div class="container">
                <div class="topCaption algnRgt">
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn">Read More</a>
                </div>
            </div>
        </li>
        <li class="slideItem slideBg3">
            <div class="container">
                <div class="topCaption algnRgt">
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn">Read More</a>
                </div>
            </div>
        </li>
    </ul>
</div>