{% load static %}
<style type="text/css">
    {% for slid in slider %}

    .slideBg{{ slid.id }}{background-image:url({{ slid.image_file.url }})}
    {% empty %}
    {% endfor %}

</style>

<!--===================================-->
<!--============ TOP SLIDER ===========-->
<!--===================================-->

<div class="topSlider">
    <ul>
        {% for slid in slider %}
            <li class="slideItem slideBg{{ slid.id }}">
            <div class="container">
                <div class="topCaption">
                    <h2>{{ slid.heading }}</h2>
                    <p>{{ slid.sortDis }}</p>
                    <a class="btn" href="{{ slid.buttonUrl }}">{{ slid.buttonText }}</a>
                </div>
            </div>
        </li>
        {% empty %}
        {% endfor %}
    </ul>
</div>