<div class="col-md-3">
    <div class="prdtItem">
        <div class="prdtImg">
            {% if prd.image %}
                <img style='height: 100%; width: 100%; object-fit: contain' src="{{ prd.image.url }}" alt="">
            {% endif %}
            <div class="cartOverlay">
                <div class="cartOverlayIn">
                    <ul>
                        <li><a href="#{{ prd.pk }}"
                               data-fancybox="gallery1"><i
                                class="fa fa-eye"
                                aria-hidden="true"></i></a><span
                                class="cartIcon">Quick View</span></li>
                        <li><a href="{% url 'single_product' slug=prd.slug %}"><i
                                class="fas fa-external-link-alt"></i></a><span
                                class="cartIcon">View Details</span></li>
                        <li><a href="#"><i
                                class="fas fa-balance-scale"></i></a><span
                                class="cartIcon">Comparison</span></li>
                    </ul>
                </div>
                <div id="{{ prd.pk }}" class="prodctPop">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="popImgBox">
                                {% if prd.image %}
                                    <img style='height: 100%; width: 100%; object-fit: contain'  src="{{ prd.image.url }}"
                                         alt="">
                                {% endif %}
                                <p>{{ prd.get_discunt }} % Off</p>

                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="popDetails">
                                <div class="prdctSideBar">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="sidebarTop">
                                                <h2 data-name="product_name">
                                                    {{ prd.name }}</h2>
                                                <span>BDT: {{ prd.price }}</span>
                                                <h5>Unit: {{ prd.unit }}</h5>
                                                <p>{{ prd.sortDec }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="clrSizeBox">

                                            </div>
                                        </div>
                                    </div>
                                    {#             For Order                       #}
                                    {% if prd.is_stock %}
                                        <button onclick="window.location.href='{% url 'index' %}'" type="button"
                                                class="btn marTop20">
                                            <i class="fas fa-cart-plus"></i>
                                            Order Now

                                        </button>
                                    {% else %}
                                        <button onclick="window.location.href='{% url 'index' %}'" type="button"
                                                class="btn marTop20">
                                            <i class="fas fa-cart-plus"></i>
                                            Request To Order

                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if prd.is_newAriavle %}
                <span class="new">New</span>
            {% endif %}
        </div>
        <div class="staricon">
            <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
            </ul>
            <span>BDT:{{ prd.price }}</span>
            <span class="priceOvRgt">BDT:{{ prd.regular_price }}</span>
            <p><a href="{% url 'single_product' slug=prd.slug %}">{{ prd.name }} || {{ prd.unit }}</a></p>
        </div>
    </div>
</div>

