<li>
    <div class="prdtItem">
        <div class="prdtImg">
            <img src="{{ prd.image.url }}" alt="">
            <div class="cartOverlay">
                <div class="cartOverlayIn">
                    <ul>
                        <li><a href="#"><i class="fa fa-shopping-cart"
                                           aria-hidden="true"></i></a><span
                                class="cartIcon">Shopping Cart</span>
                        </li>
                        <li><a href="#{{ prd.pk }}" data-fancybox="gallery"><i
                                class="fa fa-eye"
                                aria-hidden="true"></i></a><span
                                class="cartIcon">Quick View</span></li>
                        <li><a href="{% url 'single_product' slug=prd.slug %}"><i class="fas fa-external-link-alt"></i></a><span
                                class="cartIcon">View Details</span></li>
                        <li><a href="#"><i class="fa fa-heart"
                                           aria-hidden="true"></i></a><span
                                class="cartIcon">Wishlist</span></li>
                        <li><a href="#"><i class="fas fa-balance-scale"></i></a><span
                                class="cartIcon">Comparison</span></li>
                    </ul>
                </div>
                <div id="{{ prd.pk }}" class="prodctPop">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="popImgBox">
                                <img src="{{ prd.image.url }}" alt="">
                                <p>{{ prd.get_discunt }} % Off</p>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="popDetails">
                                <div class="prdctSideBar">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="sidebarTop">
                                                <h2 data-name="product_name">
                                                    {{ prd.name }}</h2>
                                                <span>BDT: {{ prd.price }}</span>
                                                <h5>Unit: {{ prd.unit }}</h5>
                                                <p>{{ prd.sortDec }}.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="clrSizeBox">

                                            </div>
                                        </div>
                                    </div>
{#             For Order                       #}
                                    <button onclick="window.location.href='{% url 'index' %}'" type="button"
                                            class="btn marTop20">
                                        <i class="fas fa-cart-plus"></i>
                                        Request To Order

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if prd.is_Feature %}
                <span class="new">Feature</span>
            {% endif %}
        </div>
        <div class="staricon">
            <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
            </ul>
            <span>BDT:{{ prd.price }}</span>
            <p><a href="{% url 'single_product' slug=prd.slug %}">{{ prd.name }} || {{ prd.unit }}</a></p>
        </div>
    </div>
</li>
