<div class="col-md-3">
    <div class="learningApps">
        <div class="appsImg">
            <div class="appsImgBox">
                <img src="media/images/content/fruits_1.jpg" alt="">
                <div class="appsOverlay">
                    <div class="appsBtn">
                        <div class="cartOverlayIn">
                            <ul>
                                <li>
                                    <button href="#"><i class="fa fa-shopping-cart"
                                                        aria-hidden="true"></i></button>
                                    <span class="cartIcon">Shopping Cart</span>
                                </li>
                                <li><a href="#prdct1" data-fancybox="gallery1"><i class="fa fa-eye"
                                                                                  aria-hidden="true"></i></a><span
                                        class="cartIcon">Quick View</span></li>
                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span
                                        class="cartIcon">View Details</span></li>
                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span
                                        class="cartIcon">Wishlist</span></li>
                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span
                                        class="cartIcon">Comparison</span></li>
                            </ul>

                            <div id="prdct1" class="prodctPop organic">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="popImgBox">
                                            <img src="media/images/content/fruits_1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="popDetails">
                                            <div class="prdctSideBar">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="sidebarTop">
                                                            <h2>Pomegranate (Dalim/Bedana)</h2>
                                                            <div class="priceBox">
                                                                <span class="amount pull-left">Price: 285(BDT)</span>
                                                                <span class="unit pull-right">Unit: (1kg+-)</span>
                                                            </div>
                                                            <p>The health benefits of pomegranates are
                                                                innumerable and what makes them special
                                                                is that apart from being healthy, they
                                                                are delicious too. Pomegranates have
                                                                anti-oxidant, anti-viral, and anti-tumor
                                                                properties and are said to be a good
                                                                source of vitamins, especially vitamin
                                                                A, C, and E, as well as folic acid. This
                                                                amazing fruit consists of three times as
                                                                many antioxidants as both wine or green
                                                                tea.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="clrSizeBox">
                                                            <div class="quantity">
                                                                <label>Quantity:</label>
                                                                <form action="#">
                                                                    <div id="field1">
                                                                        <button type="button" id="sub"
                                                                                class="sub">-
                                                                        </button>
                                                                        <input type="number" id="1"
                                                                               value="1" min="0"
                                                                               max="10"/>
                                                                        <button type="button" id="add"
                                                                                class="add">+
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn marTop20"><i
                                                        class="fas fa-cart-plus"></i> add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appsTextBox">
                <div class="priceBox">
                                    <span class="amount pull-left">Price: <span
                                            class="priceOvRgt">300</span>285(BDT)</span>
                    <span class="unit pull-right">Unit: (1kg+-)</span>
                </div>
                <h3>Pomegranate (Dalim/Bedana)</h3>
            </div>
        </div>
    </div>
</div>