{% load static %}
{% include "inclueds_front/head.html" %}
{% include "inclueds_front/navigation.html" %}

<style type="text/css">
    .img1 {
        background-image: url({% static 'images/content/regBg.jpg' %});
    }
</style>

<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->

<div class="breadBox img1">
    <div class="container">
        <div class="breadBoxIn">
            <h2>About & Missions</h2>
            <ul>
                <li><a href="index"><i class="fas fa-home"></i> home</a></li>
                <li>About & Missions</li>
            </ul>
        </div>
    </div>
</div>

<!--===================================-->
<!--========== registration ===========-->
<!--===================================-->

<div class="registrationBox pTopbtm60">
    <div class="container">
        <div class="regBoxIn">
            <div class="row">
                <div class="col-md-12">
                    <h2>ABOUT SONOMM</h2>
                    <hr>
                    <p class="text-justify">
                        SONOMM.com went live in 2018 and is the fastest growing company in the Organic Food & LIFESTYLE
                        category in Bangladesh. It comes in the market with the purest foods as well as lifestyle
                        products that are now Crying Needs of all.
                        It powered the sale of multi brand products online. Enormous success in the organic category
                        inspired us to expand into other categories like Apparels, Accessories, Learning Toys, Bags,
                        Jewellery, Cosmetics, Computers and Mobiles etc. We continue to power ahead with your support!
                    </p>
                    <br>

                    <h2 >OUR MISSIONS</h2>
                    <hr>
                    <p class="text-justify">
                        To provide the really purest foods and other necessary things;
                        To provide the best value for money to our customers;
                        To provide fastest shipping for our customer orders;
                        To provide widest range of choices for our customers;
                        To enable our brand partners to reach the widest audience;
                    </p>
                    <br>

                    <p class="text-justify">To enable us meet our mission, we undertake some unique tasks in the industry. We source all our
                        products from Brands directly or authorized agent of the brand. We don't buy products without
                        brand authorization. We run our own warehousing operations to enable us to fulfill your orders
                        completely and achieve fastest shipping in the industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->

<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>


{% include "inclueds_front/footer_common.html" %}
{% include "inclueds_front/footer_link.html" %}



