
<?php
	include "core/init.php"; 
	include "inclueds_front/head.php"; 
	include "inclueds_front/navigation.php";
?>
<style type="text/css">
    .img1{background-image:url(images/content/bgImg.jpg);}
</style>

<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->
    
<div class="breadBox img1">
    <div class="container">
        <div class="breadBoxIn">
            <h2>Organic</h2>
            <ul>
                <li><a href="index"><i class="fas fa-home"></i> home</a></li>
                <li><a href="#">More</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</div>

<!--===================================-->
<!--=============== BLOG ==============-->
<!--===================================-->

<div class="pTopbtm60 blog affiliate">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="media_say_box">
                    <div class="mediaBox">
                        <img src="images/content/slider1.png" alt="">
                        <div class="blogDate">
                            <p class="size20"><b>Published on</b></p>
                            <p>4th Jan  2018</p>
                        </div>
					 </div>
                    <div class="mediaText">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mediaTextIn">
                                    <h3>Lesson Plan: Number Recognition 1-10</h3>
									 <span class="postUser">Author <span><i class="fas fa-user"></i></span><b> Sam</b></span>
								    <p>Dear Brother,</p>
                                    <p>I always believe in the power of words, whether they are expressed in writing, or verbally. That is why when I decided to take my website redesign and e-mail marketing business to the next level I immediately knew that a highly professional and experienced content writing-editing-translation agency 'Writers Arena' starts its journey in Dhaka! And I've become more interested that Mr Muhit Rana, Former Head of English Version of Panjeree is in it! Instantly I came across Writers Arena as its authentic and great.</p>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="videoBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EQ7P5iSnwGY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <?php 
                   include "inclueds_front/right_sidebar_product.php";
                ?>
            </div>
        </div>
    </div>
</div>

<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->    
    
<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>

<?php
	include "inclueds_front/footer_common.php";
	include "inclueds_front/footer_link.php"; 
?>