
<?php
	include "core/init.php"; 
	include "inclueds_front/head.php"; 
	include "inclueds_front/navigation.php";
?>
<style type="text/css">
    .img1{background-image:url(images/content/bgImg.jpg);}
</style>

<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->
    
<div class="breadBox img1">
    <div class="container">
        <div class="breadBoxIn">
            <h2>Fashion</h2>
            <ul>
                <li><a href="index"><i class="fas fa-home"></i> home</a></li>
                <li><a href="#">Fashion</a></li>
                <li>men</li>
            </ul>
        </div>
    </div>
</div>    
    
<!--===================================-->
<!--============= PRODUCT =============-->
<!--===================================--> 

<div class="commnFilter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filterMenu">
                    <h4>Filter</h4>
                    <ul>
                        <li>
                            <a class="firstMenu" href="#">Organic</a>
                        </li>
                        <li>
                            <a href="#">Fruits</a>
                        </li>
                        <li>
                            <a href="#">Vegetables</a>
                        </li>
                        <li>
                            <a href="#">Fishes</a>
                        </li>
                        <li>
                            <a href="#">Meat</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <form>
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control">
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <form>
                    <div class="form-group">
                        <label>Display Size(Inches)</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <form>
                    <div class="form-group">
                        <label>Color</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <form>
                    <div class="form-group">
                        <label>Sort By</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
    </div>
</div>
<div class="organixBox fashionBox">    
    <div id="01" class="learnApp">
        <div class="container">            
            <div class="titleBox">
                <h2>Top Wear</h2>
            </div>
            <div class="organicSlider">
                <div class="row">
                    <div class="col-md-3">
                        <div class="learningApps">
                            <div class="appsImg">
                                <img src="images/content/small2.jpg" alt="">
                                <div class="appsOverlay">
                                    <div class="appsBtn">
                                        <div class="cartOverlayIn">
                                            <ul>
                                                <li>                                                         
                                                    <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>
                                                </li>
                                                <li><a href="#prdct9" data-fancybox="gallery2"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>
                                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>
                                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>
                                            </ul>
                                            <div id="prdct9" class="prodctPop organic">
                                                <div class="row">
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <div class="popImgBox">
                                                            <img src="images/content/small2.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                        <div class="popDetails">                                                        
                                                            <div class="prdctSideBar">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="sidebarTop">
                                                                            <h2>Libby Off The Shoulder Frill Crop Top</h2>
                                                                            <span>TK5000</span>
                                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="clrSizeBox">
                                                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                                                <div class="clrBox">
                                                                                    <form action="#">
                                                                                        <label>Color: </label><br />
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="product_color" value="white" checked> White
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="product_color" value="red"> Red
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="product_color" value="blue"> Blue
                                                                                        </label>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 col-xs-4">                                    
                                                                                <div class="sizeBox">
                                                                                    <form action="#">
                                                                                        <label>Size:</label>
                                                                                        <select name="product_size" class="form-control input-sm">
                                                                                            <option>S</option>
                                                                                            <option>M</option>
                                                                                            <option>L</option>
                                                                                        </select>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="clrSizeBox">                                  
                                                                            <div class="quantity">
                                                                                <label>Quantity:</label>                                    
                                                                                <form action="#">
                                                                                    <div id="field1">
                                                                                        <button type="button" id="sub" class="sub">-</button>
                                                                                        <input type="number" id="1" value="1" min="0" max="10" />
                                                                                        <button type="button" id="add" class="add">+</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="btn marTop20"><i class="fas fa-cart-plus"></i> add to cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                                <div class="appsTextBox">
                                    <h3>Libby Off The Shoulder Frill Crop Top</h3>
                                    <span class="amount">5000Tk</span>
                                    <div class="appsTexthide">
                                        <div class="product-options">
                                            <p><b>SIZES</b></p>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <p><b>COLORS</b></p>
                                            <div class="colors">
                                                <span style="background-color:#6e8cd5"></span>
                                                <span style="background-color:#f56060"></span>
                                                <span style="background-color:#44c28d"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="learningApps">
                            <div class="appsImg">
                                <img src="images/content/small2.jpg" alt="">
                                <div class="appsOverlay">
                                    <div class="appsBtn">
                                        <div class="cartOverlayIn">
                                            <ul>
                                                <li>                                                         
                                                    <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>
                                                </li>
                                                <li><a href="#" data-fancybox="gallery2"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>
                                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>
                                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                        
                                <div class="appsTextBox">
                                    <h3>Libby Off The Shoulder Frill Crop Top</h3>
                                    <span class="amount">5000Tk</span>
                                    <div class="appsTexthide">
                                        <div class="product-options">
                                            <p><b>SIZES</b></p>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <p><b>COLORS</b></p>
                                            <div class="colors">
                                                <span style="background-color:#6e8cd5"></span>
                                                <span style="background-color:#f56060"></span>
                                                <span style="background-color:#44c28d"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="learningApps">
                            <div class="appsImg">
                                <img src="images/content/small2.jpg" alt="">
                                <div class="appsOverlay">
                                    <div class="appsBtn">
                                        <div class="cartOverlayIn">
                                            <ul>
                                                <li>                                                         
                                                    <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>
                                                </li>
                                                <li><a href="#" data-fancybox="gallery2"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>
                                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>
                                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                        
                                <div class="appsTextBox">
                                    <h3>Libby Off The Shoulder Frill Crop Top</h3>
                                    <span class="amount">5000Tk</span>
                                    <div class="appsTexthide">
                                        <div class="product-options">
                                            <p><b>SIZES</b></p>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <p><b>COLORS</b></p>
                                            <div class="colors">
                                                <span style="background-color:#6e8cd5"></span>
                                                <span style="background-color:#f56060"></span>
                                                <span style="background-color:#44c28d"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="learningApps">
                            <div class="appsImg">
                                <img src="images/content/small2.jpg" alt="">
                                <div class="appsOverlay">
                                    <div class="appsBtn">
                                        <div class="cartOverlayIn">
                                            <ul>
                                                <li>                                                         
                                                    <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>
                                                </li>
                                                <li><a href="#" data-fancybox="gallery2"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>
                                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>
                                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                        
                                <div class="appsTextBox">
                                    <h3>Libby Off The Shoulder Frill Crop Top</h3>
                                    <span class="amount">5000Tk</span>
                                    <div class="appsTexthide">
                                        <div class="product-options">
                                            <p><b>SIZES</b></p>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <p><b>COLORS</b></p>
                                            <div class="colors">
                                                <span style="background-color:#6e8cd5"></span>
                                                <span style="background-color:#f56060"></span>
                                                <span style="background-color:#44c28d"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="learningApps">
                            <div class="appsImg">
                                <img src="images/content/small2.jpg" alt="">
                                <div class="appsOverlay">
                                    <div class="appsBtn">
                                        <div class="cartOverlayIn">
                                            <ul>
                                                <li>                                                         
                                                    <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>
                                                </li>
                                                <li><a href="#" data-fancybox="gallery2"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>
                                                <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>
                                                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>
                                                <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                        
                                <div class="appsTextBox">
                                    <h3>Libby Off The Shoulder Frill Crop Top</h3>
                                    <span class="amount">5000Tk</span>
                                    <div class="appsTexthide">
                                        <div class="product-options">
                                            <p><b>SIZES</b></p>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <p><b>COLORS</b></p>
                                            <div class="colors">
                                                <span style="background-color:#6e8cd5"></span>
                                                <span style="background-color:#f56060"></span>
                                                <span style="background-color:#44c28d"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organicItem">
                <div class="row">
                    <div class="col-md-6">
                        <div class="orgItemIn left">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="orgItemLeft">
                                        <img src="images/content/small2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="orgItemRgt">
                                        <h4>Valencia Oranges</h4>
                                        <p>Valencia Oranges are low in calories and full of nutrients, they promote clear, healthy, skin and can help to lower our risk for many diseases as part of an overall healthy and varied diet.</p>
                                        <div class="btnBox">
                                            <a class="btn" href="#">details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="orgItemIn">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="orgItemRgt">
                                        <h4>Pomegranate (Dalim/Bedana)</h4>
                                        <p>Pomegranate seeds get their vibrant red hue from polyphenols. These chemicals are powerful antioxidants.</p>
                                        <div class="btnBox">
                                            <a class="btn" href="#">details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="orgItemLeft">
                                        <img src="images/content/small2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="allBtn">
                <a class="btn" href="Product">All views</a>
            </div>
        </div>
    </div>
    
    <div class="paginationBox">
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

    
<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->    
    
<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>

<?php
	include "inclueds_front/footer_common.php";
	include "inclueds_front/footer_link.php"; 
?>

