{% load static %}
{% include "inclueds_front/head.html" %}
{% include "inclueds_front/navigation.html" %}
{% include "inclueds_front/slider_main.html" %}

<!--===================================-->
<!--=========== OUR SERVICE ===========-->
<!--===================================-->

{#<div class="serviceBox pTopbtm60">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service1"></div>#}
{#                    <p><a href="#">Home Delivery</a></p>#}
{#                    <span>Satisfaction ensured</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service2"></div>#}
{#                    <p><a href="#">100% Safe</a></p>#}
{#                    <span>Secure Shopping</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service3"></div>#}
{#                    <p><a href="#">Amazing Cashback</a></p>#}
{#                    <span>Upto 30%</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem serviceLast">#}
{#                    <div class="serviceImg service4"></div>#}
{#                    <p><a href="#">Payment Method</a></p>#}
{#                    <span>Secure System</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========== LATEST NEWS12 ==========-->
<!--===================================-->

{#<div class="latestNews">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                <i class="fas fa-fire pull-left"></i>#}
{#                <h4>Market news</h4>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                <i class="fas fa-file-alt pull-left"></i>#}
{#                <h4>Sonomm news</h4>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========= FANTASY FRIDAY ==========-->
<!--===================================-->

{#<div class="fantasyBox pTopbtm60">#}
{#    <div class="fridayTitle">#}
{#        <h2>Fantastic Friday</h2>#}
{#    </div>#}
{#    <div class="fantasyIn">#}
{#        <ul>#}
{#            <li>#}
{#                <div class="fantasyItem">#}
{#                    <div class="fantasyImg">#}
{#                        <img src="media/images/content/offer_5.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="fantasyOffer">#}
{#                        <span class="discount">off 30%</span>#}
{#                        <span class="onsale">onsale</span>#}
{#                        <span class="star"><i class="fas fa-star"></i> 34</span>#}
{#                    </div>#}
{#                    <div class="fantasyPrice">#}
{#                        <p>500Tk</p>#}
{#                    </div>#}
{#                    <div class="fantasyHover">                        #}
{#                        <div class="cartOverlay">#}
{#                            <div class="cartOverlayIn">#}
{#                                <ul>#}
{#                                    <li>                                                         #}
{#                                        <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>#}
{#                                    </li>#}
{#                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>#}
{#                                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>#}
{#                                </ul>#}
{#                                <h4>Lorem Ipsum is simply dummy</h4>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="fantasyItem">#}
{#                    <div class="fantasyImg">#}
{#                        <img src="media/images/content/offer_3.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="fantasyOffer">#}
{#                        <span class="discount">off 20%</span>#}
{#                        <span class="onsale">onsale</span>#}
{#                        <span class="star"><i class="fas fa-star"></i> 54</span>#}
{#                    </div>#}
{#                    <div class="fantasyPrice">#}
{#                        <p>500Tk</p>#}
{#                    </div>#}
{#                    <div class="fantasyHover">                        #}
{#                        <div class="cartOverlay">#}
{#                            <div class="cartOverlayIn">#}
{#                                <ul>#}
{#                                    <li>                                                         #}
{#                                        <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>#}
{#                                    </li>#}
{#                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>#}
{#                                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>#}
{#                                </ul>#}
{#                                <h4>Lorem Ipsum is simply dummy</h4>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="fantasyItem">#}
{#                    <div class="fantasyImg">#}
{#                        <img src="media/images/content/offer_6.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="fantasyOffer">#}
{#                        <span class="discount">off 30%</span>#}
{#                        <span class="onsale">onsale</span>#}
{#                        <span class="star"><i class="fas fa-star"></i> 59</span>#}
{#                    </div>#}
{#                    <div class="fantasyPrice">#}
{#                        <p>500Tk</p>#}
{#                    </div>#}
{#                    <div class="fantasyHover">                        #}
{#                        <div class="cartOverlay">#}
{#                            <div class="cartOverlayIn">#}
{#                                <ul>#}
{#                                    <li>                                                         #}
{#                                        <button href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button><span class="cartIcon">Shopping Cart</span>#}
{#                                    </li>#}
{#                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a><span class="cartIcon">Quick View</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-external-link-alt"></i></a><span class="cartIcon">View Details</span></li>#}
{#                                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span class="cartIcon">Wishlist</span></li>#}
{#                                    <li><a href="#"><i class="fas fa-balance-scale"></i></a><span class="cartIcon">Comparison</span></li>#}
{#                                </ul>#}
{#                                <h4>Lorem Ipsum is simply dummy</h4>#}
{#                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========== Organic INFO ===========-->
<!--===================================-->
<div class="productBox">
    <div class="container">
        <div class="titleBox">
            <h2>Organic Products</h2>
        </div>
        <div class="productTab">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="prdctLeftBox">
                        <ul>
                            {% for prd in orproducts %}
                                {% if prd.is_slide %}
                                    {% include 'product/product_slide.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="tab-content">

                        <div id="{{ cat.name }}" class="tab-pane fade in active">
                            <div class="productBoxIn">
                                <div class="prdctRgtBox">
                                    <div class="row">
                                        {% for prd in orproducts %}
                                            {% include 'product/product.html' %}
                                        {% endfor %}

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================-->
<!--======== SHOP CATEGORIES ==========-->
<!--===================================-->

<div class="shopCat pTopbtm60">
    <div class="container">
        <div class="titleBox">
            <h2>Shop by Categories</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for c in cat %}
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="shopCatItem">
                        <a href="#">
                            <div class="shopImg">
                                <img src="{{ c.image.url }}" alt="">
                            </div>
                            <p>{{ c.name }}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--===================================-->
<!--========== newarrival INFO ===========-->
<!--===================================-->
<div class="productBox">
    <div class="container">
        <div class="titleBox">
            <h2>New Arrival Products</h2>
        </div>
        <div class="productTab">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="prdctLeftBox">
                        <ul>
                            {% for prd in products %}
                                {% if prd.is_slide and prd.is_newAriavle %}
                                    {% include 'product/product_slide.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="tab-content">

                        <div id="{{ cat.name }}" class="tab-pane fade in active">
                            <div class="productBoxIn">
                                <div class="prdctRgtBox">
                                    <div class="row">
                                        {% for prd in products %}
                                            {% if prd.is_newAriavle %}
                                            {% include 'product/product.html' %}
                                            {% endif %}
                                        {% endfor %}

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================-->
<!--=========== BIG OFFER =============-->
<!--===================================-->

<div class="bigOffer pTopbtm60">
    <div class="container">
        <ul class="bigOfrSlid">
            <li>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <div class="bigOfrLeft">
                            <img src="media/images/content/big_offer.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <div class="bigOfrRgt">
                            <h4>GET IT NOW</h4>
                            <h2>limited offer</h2>
                            <p>HANDBAGS COLLECTION FOR WOMEN</p>
                            <ul>
                                <li><span><b>46</b> days</span></li>
                                <li><span><b>10</b> hours</span></li>
                                <li><span><b>10</b> mint</span></li>
                                <li><span><b>08</b> secs</span></li>
                            </ul>
                            <button class="btn">Order</button>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <div class="bigOfrLeft">
                            <img src="media/images/content/big_offer.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <div class="bigOfrRgt">
                            <h4>GET IT NOW</h4>
                            <h2>limited offer</h2>
                            <p>HANDBAGS COLLECTION FOR WOMEN</p>
                            <ul>
                                <li><span><b>46</b> days</span></li>
                                <li><span><b>10</b> hours</span></li>
                                <li><span><b>10</b> mint</span></li>
                                <li><span><b>08</b> secs</span></li>
                            </ul>
                            <button class="btn">Preorder</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--===================================-->
<!--============= BIG ADD =============-->
<!--===================================-->

{#<div class="bigAddBox pTopbtm60">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <div class="addImg">#}
{#                    <a href="#"><img src="media/images/content/big_add.jpg" alt=""></a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-12">#}
{#                <div class="addImg">#}
{#                    <a href="#"><img src="media/images/content/big_add.jpg" alt=""></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>  #}

<!--===================================-->
<!--========== PRODUCT INFO ===========-->
<!--===================================-->

{#{% include 'product/product.html' %}#}

<!--===================================-->
<!--========== PRODUCT INFO ===========-->
<!--===================================-->


{#{% include 'product/product.html' %}#}

<!--===================================-->
<!--=========== BRAND LOGO ============-->
<!--===================================-->

{#<div class="brandLogo pTopbtm60">#}
{#    <div class="container">#}
{#        <ul class="brandIn">#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo1.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo2.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo3.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo4.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo5.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo6.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo7.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo8.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="logoBox">#}
{#                    <img src="media/images/content/brand_logo9.png" alt="">#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========= BEST SELLERS ============-->
<!--===================================-->
{#<div class="teamsection pTopbtm60">#}
{#	<div class="container">               #}
{#        <div class="titleBox">#}
{#            <h2>Best Sellers</h2>#}
{#        </div>#}
{#        <ul class="teamSldr">#}
{#            <li>#}
{#                <div class="player">#}
{#                    <h4>Mr. Rashid</h4>#}
{#                    <div class="teampicture">#}
{#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
{#                    </div>#}
{#                    <a href="#" class="btn">view details</a>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="player">#}
{#                    <h4>Mr. Rashid</h4>#}
{#                    <div class="teampicture">#}
{#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
{#                    </div>#}
{#                    <a href="#" class="btn">view details</a>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="player">#}
{#                    <h4>Mr. Rashid</h4>#}
{#                    <div class="teampicture">#}
{#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
{#                    </div>#}
{#                    <a href="#" class="btn">view details</a>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="player">#}
{#                    <h4>Mr. Rashid</h4>#}
{#                    <div class="teampicture">#}
{#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
{#                    </div>#}
{#                    <a href="#" class="btn">view details</a>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="player">#}
{#                    <h4>Mr. Rashid</h4>#}
{#                    <div class="teampicture">#}
{#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
{#                    </div>#}
{#                    <a href="#" class="btn">view details</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#	</div>#}
{# </div>#}

<!--===================================-->
<!--=========== CERTIFICATE ===========-->
<!--===================================-->

<div class="certificate pTopbtm60">
    <div class="container">
        <div class="titleBox">
            <h2>Food Certificate</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="certBox">
                    <div class="crtfictImg">
                        <img src="media/images/content/foodcert_1.png" alt="">
                    </div>
                    <h4>Lorem Ipsum is simply dummy text</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="certBox">
                    <div class="crtfictImg">
                        <img src="media/images/content/foodcert_2.png" alt="">
                    </div>
                    <h4>Lorem Ipsum is simply dummy text</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="certBox">
                    <div class="crtfictImg">
                        <img src="media/images/content/foodcert_1.png" alt="">
                    </div>
                    <h4>Lorem Ipsum is simply dummy text</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===================================-->
<!--======== Inspiring Remarks ========-->
<!--===================================-->

<div class="remarksBox ">
    <div class="container">
        <div class="remarksBoxIn">
            <ul class="remarksSlider">
                <li>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="remarksImg">
                                <img src="media/images/content/muhit_rana.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="remarksText">
                                <span class="borderTop"></span>
                                <span class="borderBtm"></span>
                                <h2>Inspiring Remarks</h2>
                                <p>I always believe in the power of words, whether they are expressed in writing, or
                                    verbally. That is why when I decided to take my website redesign and e-mail
                                    marketing business to the next level... <a href="#">Readmore</a></p>
                                <h4 class="remakName">Muhit Rana</h4>
                                <p>e-Learning Specialist</p>
                                <div class="socialBox">
                                    <ul class="socialicon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                                <a class="btn" href="allInspiringRemarks">See All Remarks</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="remarksImg">
                                <img src="media/images/content/muhit_rana.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="remarksText">
                                <span class="borderTop"></span>
                                <span class="borderBtm"></span>
                                <h2>Inspiring Remarks</h2>
                                <p>I've been attached with Writers Arena to improve my business to the next level. I
                                    found Mr Muhit Rana to be very professional, honest and knowledgeable, and she
                                    guided... <a href="#">Readmore</a></p>
                                <h4 class="remakName">Muhit Rana</h4>
                                <p>e-Learning Specialist</p>
                                <div class="socialBox">
                                    <ul class="socialicon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                                <a class="btn" href="allInspiringRemarks">See All Remarks</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="remarksImg">
                                <img src="media/images/content/muhit_rana.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="remarksText">
                                <span class="borderTop"></span>
                                <span class="borderBtm"></span>
                                <h2>Inspiring Remarks</h2>
                                <p>I'd say simply that Writers Arena team is really excellent and it is some of the best
                                    services I have received both online and offline in a long time. If you would like a
                                    professional... <a href="#">Readmore</a></p>
                                <h4 class="remakName">Muhit Rana</h4>
                                <p>e-Learning Specialist</p>
                                <div class="socialBox">
                                    <ul class="socialicon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                                <a class="btn" href="allInspiringRemarks">See All Remarks</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--===================================-->
<!--============ NEWSLETTER ===========-->
<!--===================================-->

<div class="newsLetter pTopbtm60">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="comnHrd">
                        <h2>Get Discount 30% Off</h2>
                        <p>Subscribe our newsletter and get discount 30% off</p>
                    </div>
                    <form action="" method="post" role="form">
                        <div class="input-group">
                            <input class="form-control" name="email" placeholder="Enter your email" type="email">
                            <span class="input-group-addon"><input value="" name="btn_news" class="btn"
                                                                   type="submit"><span>Subscribe</span></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->

<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>


{% include "inclueds_front/footer_common.html" %}
{% include "inclueds_front/footer_link.html" %}

