{% load static %}
{% include "inclueds_front/head.html" %}
{% include "inclueds_front/navigation.html" %}
{% include "inclueds_front/slider_main.html" %}

<!--===================================-->
<!--=========== OUR SERVICE ===========-->
<!--===================================-->

{#<div class="serviceBox pTopbtm60">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service1"></div>#}
{#                    <p><a href="#">Home Delivery</a></p>#}
{#                    <span>Satisfaction ensured</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service2"></div>#}
{#                    <p><a href="#">100% Safe</a></p>#}
{#                    <span>Secure Shopping</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem">#}
{#                    <div class="serviceImg service3"></div>#}
{#                    <p><a href="#">Amazing Cashback</a></p>#}
{#                    <span>Upto 30%</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 col-sm-3 col-xs-12">#}
{#                <div class="serviceItem serviceLast">#}
{#                    <div class="serviceImg service4"></div>#}
{#                    <p><a href="#">Payment Method</a></p>#}
{#                    <span>Secure System</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========== LATEST NEWS12 ==========-->
<!--===================================-->

{#<div class="latestNews">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                <i class="fas fa-fire pull-left"></i>#}
{#                <h4>Market news</h4>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                <i class="fas fa-file-alt pull-left"></i>#}
{#                <h4>Sonomm news</h4>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text</a></li>#}
{#                    <li><a href="#">Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!--===================================-->
<!--========= FANTASY FRIDAY ==========-->
<!--===================================-->

<div class="fantasyBox pTopbtm60">
    <div class="fridayTitle">
        <h2>Fantastic Friday</h2>
    </div>
    <div class="fantasyIn">
        <ul>
            {% for prd in products %}
                {% if prd.is_Friday %}
                    <li>
                        <div class="fantasyItem">
                            <div class="fantasyImg">

                                <img style='object-fit: contain' width="440 px" height="230 px"
                                     src="{{ prd.image.url }}" alt="">
                            </div>
                            <div class="fantasyOffer">
                                <span class="discount">off {{ prd.get_discunt }}%</span>
                                {% if prd.is_stock %}
                                    <span class="onsale">onsale</span>
                                {% else %}
                                    <span class="onsale">preorder</span>
                                {% endif %}

                                <span class="star"><i class="fas fa-star"></i> 5</span>
                            </div>
                            <div class="fantasyPrice">
                                <p>{{ prd.price }}Tk</p>
                            </div>
                            <div class="fantasyHover">
                                <div class="cartOverlay">
                                    <div class="cartOverlayIn">
                                        <ul>
                                            <a class="btn btn-info" role="button"  href="{% url 'single_product' slug=prd.slug %}">Buy Now</a>

                                        </ul>
                                        <h4>{{ prd.name }}</h4>
                                        <p>{{ prd.sortDec }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% empty %}
            {% endfor %}


        </ul>
    </div>
</div>

<!--===================================-->
<!--========== Organic INFO ===========-->
<!--===================================-->
<div class="productBox">
    <div class="container">
        <div class="titleBox">
            <h2>Organic Products</h2>
        </div>
        <div class="productTab">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        {% for cat in cats %}
                            <li><a data-toggle="tab" href="#{{ cat.name }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="prdctLeftBox">
                        <ul>
                            {% for prd in orproducts %}
                                {% if prd.is_slide %}
                                    {% include 'product/product_slide.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="tab-content">
                        {% for cat in cats %}
                            {% if cat.name == "Fruits" %}
                                <div id="{{ cat.name }}" class="tab-pane fade in active">
                            {% else %}
                                <div id="{{ cat.name }}" class="tab-pane ">
                            {% endif %}
                        <div class="productBoxIn">
                            <div class="prdctRgtBox">
                                <div class="row">
                                    {% for prd in orproducts %}
                                        {% if cat == prd.category %}

                                            {% include 'product/product.html' %}

                                        {% endif %}
                                    {% empty %}
                                        <h2>---Product Not Available--</h2>

                                    {% endfor %}

                                </div>

                            </div>
                        </div>

                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================-->
    <!--======== SHOP CATEGORIES ==========-->
    <!--===================================-->

    <div class="shopCat pTopbtm60 " id="catMenuIn">
        <div class="container ">
            <div class="titleBox">
                <h2>Shop by Categories</h2>
            </div>
        </div>
        <div class="container ">
            <div class="row">
                {% for c in cat %}
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <div class="shopCatItem">
                            <a href="{% url 'category' name=c.name %}">
                                <div class="shopImg">
                                    {% if c.image %}
                                    <img style='object-fit: contain' src="{{ c.image.url }}"
                                         alt="">
                                    {% endif %}
                                </div>
                                <p>{{ c.name }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--===================================-->
    <!--========== newarrival INFO ===========-->
    <!--===================================-->
    <div class="productBox">
        <div class="container">
            <div class="titleBox">
                <h2>New Arrival Products</h2>
            </div>
            <div class="productTab">
                <div class="row">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="prdctLeftBox">
                            <ul>
                                {% for prd in products %}
                                    {% if prd.is_slide and prd.is_newAriavle %}
                                        {% include 'product/product_slide.html' %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="tab-content">

                            <div id="{{ cat.name }}" class="tab-pane fade in active">
                                <div class="productBoxIn">
                                    <div class="prdctRgtBox">
                                        <div class="row">
                                            {% for prd in products %}
                                                {% if prd.is_newAriavle %}
                                                    {% include 'product/product.html' %}
                                                {% endif %}
                                            {% empty %}
                                                <h2>---Product Not Available--</h2>
                                            {% endfor %}

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================-->
    <!--=========== BIG OFFER =============-->
    <!--===================================-->

    <div class="bigOffer pTopbtm60">
        <div class="container">
            <ul class="bigOfrSlid">
                {% for offer in offers %}
                <li>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-md-12">
                            <div class="bigOfrLeft">
                                {% if offer.image %}
                                <img src="{{ offer.image.url }}" alt="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-md-12">
                            <div class="bigOfrRgt">
                                <h4>GET IT NOW</h4>
                                <h2>limited offer</h2>
                                <p><a href="{% url 'single_product' slug=offer.product.slug %}">{{ offer.product.title }}</a></p>
                                <h2>{{ offer.last_date|timeuntil }}</h2>
                                <button onclick="window.location.href='{% url 'order' slug=offer.product.slug %}'"class="btn">Order</button>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--===================================-->
    <!--============= BIG ADD =============-->
    <!--===================================-->

    {#<div class="bigAddBox pTopbtm60">#}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-md-12">#}
    {#                <div class="addImg">#}
    {#                    <a href="#"><img src="media/images/content/big_add.jpg" alt=""></a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-12">#}
    {#                <div class="addImg">#}
    {#                    <a href="#"><img src="media/images/content/big_add.jpg" alt=""></a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>  #}

    <!--===================================-->
    <!--========== PRODUCT INFO ===========-->
    <!--===================================-->

    {#{% include 'product/product.html' %}#}

    <!--===================================-->
    <!--========== PRODUCT INFO ===========-->
    <!--===================================-->


    {#{% include 'product/product.html' %}#}

    <!--===================================-->
    <!--=========== BRAND LOGO ============-->
    <!--===================================-->

    <div class="brandLogo pTopbtm60">
        <div class="container">
            <ul class="brandIn">
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo1.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo2.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo3.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo4.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo5.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo6.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo7.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo8.png' %}" alt="">
                    </div>
                </li>
                <li>
                    <div class="logoBox">
                        <img src="{% static 'images/content/brand_logo9.png' %}" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--===================================-->
    <!--========= BEST SELLERS ============-->
    <!--===================================-->
    {#<div class="teamsection pTopbtm60">#}
    {#	<div class="container">               #}
    {#        <div class="titleBox">#}
    {#            <h2>Best Sellers</h2>#}
    {#        </div>#}
    {#        <ul class="teamSldr">#}
    {#            <li>#}
    {#                <div class="player">#}
    {#                    <h4>Mr. Rashid</h4>#}
    {#                    <div class="teampicture">#}
    {#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
    {#                    </div>#}
    {#                    <a href="#" class="btn">view details</a>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li>#}
    {#                <div class="player">#}
    {#                    <h4>Mr. Rashid</h4>#}
    {#                    <div class="teampicture">#}
    {#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
    {#                    </div>#}
    {#                    <a href="#" class="btn">view details</a>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li>#}
    {#                <div class="player">#}
    {#                    <h4>Mr. Rashid</h4>#}
    {#                    <div class="teampicture">#}
    {#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
    {#                    </div>#}
    {#                    <a href="#" class="btn">view details</a>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li>#}
    {#                <div class="player">#}
    {#                    <h4>Mr. Rashid</h4>#}
    {#                    <div class="teampicture">#}
    {#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
    {#                    </div>#}
    {#                    <a href="#" class="btn">view details</a>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li>#}
    {#                <div class="player">#}
    {#                    <h4>Mr. Rashid</h4>#}
    {#                    <div class="teampicture">#}
    {#                        <img src="media/images/content/Mr-Rashid.png" alt="">#}
    {#                    </div>#}
    {#                    <a href="#" class="btn">view details</a>#}
    {#                </div>#}
    {#            </li>#}
    {#        </ul>#}
    {#	</div>#}
    {# </div>#}

    <!--===================================-->
    <!--=========== CERTIFICATE ===========-->
    <!--===================================-->

    {#    <div class="certificate pTopbtm60">#}
    {#        <div class="container">#}
    {#            <div class="titleBox">#}
    {#                <h2>Food Certificate</h2>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                    <div class="certBox">#}
    {#                        <div class="crtfictImg">#}
    {#                            <img src="{% static 'images/content/foodcert_1.png' %}" alt="">#}
    {#                        </div>#}
    {#                        <h4>Lorem Ipsum is simply dummy text</h4>#}
    {#                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has#}
    {#                            been#}
    {#                            the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                    <div class="certBox">#}
    {#                        <div class="crtfictImg">#}
    {#                            <img src="{% static 'images/content/foodcert_2.png' %}" alt="">#}
    {#                        </div>#}
    {#                        <h4>Lorem Ipsum is simply dummy text</h4>#}
    {#                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has#}
    {#                            been#}
    {#                            the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                    <div class="certBox">#}
    {#                        <div class="crtfictImg">#}
    {#                            <img src="{% static 'images/content/foodcert_1.png' %}" alt="">#}
    {#                        </div>#}
    {#                        <h4>Lorem Ipsum is simply dummy text</h4>#}
    {#                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has#}
    {#                            been#}
    {#                            the industry's standard dummy text ever since the 1500s...<a href="#">Read more</a></p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <!--===================================-->
    <!--======== Inspiring Remarks ========-->
    <!--===================================-->

    <div class="remarksBox ">
        <div class="container">
            <div class="remarksBoxIn">
                <ul class="remarksSlider">
                    {% for remark in remarks %}
                    <li>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="remarksImg">
                                    {% if remark.image %}
                                    <img  src="{{ remark.image.url }}" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="remarksText">
                                    <span class="borderTop"></span>
                                    <span class="borderBtm"></span>
                                    <h2>Inspiring Remarks</h2>
                                    <p>{{ remark.remarks|truncatewords:50 }}</p>
                                    <h4 class="remakName">{{ remark.author }}</h4>
                                    <p>{{ remark.des }}</p>
                                    <div class="socialBox">
                                        <ul class="socialicon">
                                            <li><a href="{{ remark.fb }}"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{{ remark.twi }}"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{{ remark.sky }}"><i class="fab fa-skype"></i></a></li>
                                        </ul>
                                    </div>
{#                                    <a class="btn" href="allInspiringRemarks">See All Remarks</a>#}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!--===================================-->
    <!--============ NEWSLETTER ===========-->
    <!--===================================-->

    <div class="newsLetter pTopbtm60">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="text-center">
                        <div class="comnHrd">
                            <h2>Get Discount</h2>
                            <p>Subscribe our newsletter and get discount </p>
                        </div>
                        <form action="{% url 'subc' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="form-control" name="email" placeholder="Enter your email" type="email">
                                <span class="input-group-addon"><input value="" name="btn_news" class="btn"
                                                                       type="submit"><span>Subscribe</span></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <!--===================================-->
    <!--============= BACK TOP ============-->
    <!--===================================-->

    <p class="back-top backTop"><i class="fas fa-angle-up"></i></p>


    {% include "inclueds_front/footer_common.html" %}
    {% include "inclueds_front/footer_link.html" %}

