
<?php
	include "core/init.php"; 
	include "inclueds_front/head.php"; 
	include "inclueds_front/navigation.php";
?>
<style type="text/css">
    .img1{background-image:url(images/content/bgImg3.jpg);}
</style>

<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->
    
<div class="breadBox img1">
    <div class="container">
        <div class="breadBoxIn">
            <h2>Photo Gallery</h2>
            <ul>
                <li><a href="index"><i class="fas fa-home"></i> home</a></li>
                <li><a href="#">More</a></li>
                <li>Photo Gallery</li>
            </ul>
        </div>
    </div>
</div>


<!--===================================-->
<!--========= Traning Details =========-->
<!--===================================-->

<div class="gallery bdGallery pTopbtm60">
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="portList">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".cat1">Fruits</li>
                    <li data-filter=".cat2">Fishes</li>
                    <li data-filter=".cat3">Vegetables</li>
                    <li data-filter=".cat4">Bedding</li>
                    <li data-filter=".cat5">Mobile</li>
                </ul>
                <div class="portfolioIn">
                    <div class="row projectList">
                        <div class="col-md-3 col-sm-4 col-xs-6 cat1 animation1">
                            <a class="galItem" href="images/content/fruits_1.jpg" data-fancybox="images">
                                <img src="images/content/fruits_1.jpg" alt="">
                                <div class="bdOverly">
                                    <div class="bdOverlyIn">
                                        <p>Pomegranate (Dalim/Bedana)</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 cat2 animation2">
                            <a class="galItem" href="images/content/fish_1.jpg" data-fancybox="images">
                                <img src="images/content/fish_1.jpg" alt="">
                                <div class="bdOverly">
                                    <div class="bdOverlyIn">
                                        <p>Hilsa</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 cat3 animation3">
                            <a class="galItem" href="images/content/veg_3.jpg" data-fancybox="images">
                                <img src="images/content/veg_3.jpg" alt="">
                                <div class="bdOverly">
                                    <div class="bdOverlyIn">
                                        <p>Broccoli</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 cat4 animation4">
                            <a class="galItem" href="images/content/bed_2.jpg" data-fancybox="images">
                                <img src="images/content/bed_2.jpg" alt="">
                                <div class="bdOverly">
                                    <div class="bdOverlyIn">
                                        <p>bed</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 cat5 animation5">
                            <a class="galItem" href="images/content/shop1.jpg" data-fancybox="images">
                                <img src="images/content/shop1.jpg" alt="">
                                <div class="bdOverly">
                                    <div class="bdOverlyIn">
                                        <p>Mobile</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===================================-->
<!--=========== Back-Top ==============-->
<!--===================================-->

<p class="back-top">
	<i class="fa fa-angle-up"></i>
</p>

<!-- end page content -->
<?php 
    include"inclueds_front/footer_common.php";
    include"inclueds_front/footer_link.php";
?>

