{% load static %}
{% include "inclueds_front/head.html" %}

<!--===================================-->
<!--========== Main Body =============-->
<!--===================================-->

<section class="contentBody">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashBrdCont printOrderBox">
                    <div class="printImg">
                        <img src="{% static "images/content/Sonomm-Logo-Design5.png" %}" alt="">
                    </div>
                    <div class="printText">
                        <p>Order Submission Successfully</p>
                        <p>Dear Mr. {{ Customer_name }}</p>
                        <p>Your Phone Number {{ Customer_Phone }}</p>
                        <p style="color: #2b542c">Your Oder is Successfully Submitted. Please wait for Confirmation Call</p>
                    </div>
                        <br>

                    </div>
                </div>
            </div>
            <center><a class="btn btn-info" role="button" style="background-color: #f5224d"
                                       href="{% url 'index' %}">Buy More</a></center>
        </div>
    </div>
</section>


{% include "inclueds_front/footer_link.html" %}

