{% load static %}
{% include "inclueds_front/head.html" %}
{% include "inclueds_front/navigation.html" %}
<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->

<div class="breadBox breadIn">
    <div class="container">
        <div class="breadBoxIn">
            <h2>{{ product.name }}</h2>
            <ul>
                <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> home</a></li>
                <li>{{ product.name }}</li>
            </ul>
        </div>
    </div>
</div>

<!--===================================-->
<!--========== PRODUCT INNER ==========-->
<!--===================================-->

<div class="productInnerBox pTopbtm60">
    <div class="container">
        <div class="row">
            <div class="productTop">
                <div class="col-md-8">
                    <div class="prdctInnrLeft">
                        <div class="smallImg">
                            <ul id="gallery_01">
                                {% for img in gallery %}
                                    <li>
                                        <a class="elevatezoom-gallery active" data-update=""
                                           data-image="{{ img.image.url }}" data-zoom-image="{{ img.image.url }}"
                                           href="#">
                                            <img style='object-fit: contain' src="{{ img.image.url }}" alt="">
                                        </a>

                                    </li>
                                {% empty %}

                                {% endfor %}
                                <li>
                                    <a class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}"
                                       href="#">
                                        <img src="{{ product.image.url }}" alt="">
                                    </a>

                                </li>

                            </ul>
                            {#                            <div class="videoBtn">#}
                            {#                                <a href="#dressVideo" data-fancybox="video">#}
                            {#                                    <img src="{{ product.image.url }}" alt=""/>#}
                            {#                                    <div id="dressVideo" class="commnVdo">#}
                            {#                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/3I-NokcLrwk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
                            {#                                    </div>#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                        <div class="bigImg">
                            <div class="bigImgBox">
                                <img style='object-fit: contain' id="zoom_03" data-name="product_image"
                                     src="{{ product.image.url }}"
                                     data-zoom-image="{{ product.image.url }}"/ alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="prdctSideBar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebarTop">
                                    <h2>{{ product.name }}</h2>
                                    <span>ID: sonomm{{ product.id }}</span>
                                    <div>
                                        <p>
                                            <span>Unit: {{ product.unit }}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="saveBox">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h2>BTD {{ product.price }}</h2>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <span>Save {{ product.get_discunt }} %</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="clrSizeBox">
                                    <p>{{ product.sortDec }}</p>
                                </div>

                            </div>
                        </div>
                        <div class="sideBarFtr">
                            <div class="sideBarFtrTop">
                                <div class="row">

                                    <div class="col-md-12 offset-0">
                                        {% if  product.is_stock %}
                                            <button onclick="window.location.href='{% url 'order' slug=product.slug %}'"
                                                    type="button"
                                                    class="btn marTop20">
                                                <i class="fas fa-cart-plus"></i>
                                                Order Now

                                            </button>
                                        {% else %}
                                            <button onclick="window.location.href='{% url 'order' slug=product.slug %}'"
                                                    type="button"
                                                    class="btn marTop20">
                                                <i class="fas fa-cart-plus"></i>
                                                Request To Order

                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prdctTabing pTopbtm60">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-12">
                    <div class="prdctTabLeft">
                        <h5>Info box</h5>
                        <p>If you order more than 2 products or in value of more than BDT 5000 you get free shipping
                            anywhere in the Dhaka,Bangladesh.</p>
                    </div>
                </div>
                {#       for Details       #}
                <div class="col-md-8 col-sm-8 col-md-12">
                    <div class="prdctTabRgt">
                        <div class="productInnerTab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#menu1">Details</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <div class="prdtInnerCont">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="learningBox pTopbtm60">
            <div class="learnApp">
                <div class="container">
                    <h3>Related products</h3>
                    <div class="col-md-3 col-sm-12 col-xs-12">

                        <ul>
                            {% for prd in relateds %}

                                {% include 'product/product_slide.html' %}
                            {% empty %}
                                <p style="color: #ab0225;font-size: large"> No Related Products </p>

                            {% endfor %}
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->

<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>

{% include "inclueds_front/footer_common.html" %}
{% include "inclueds_front/footer_link.html" %}

