{% load static %}
{% include "inclueds_front/head.html" %}
{% include "inclueds_front/navigation.html" %}
<!--===================================-->
<!--=========== BREADCRUMBS ===========-->
<!--===================================-->

<div class="breadBox breadIn">
    <div class="container">
        <div class="breadBoxIn">
            <h2>Bad Girl long sleve shirt</h2>
            <ul>
                <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> home</a></li>
                <li>{{ product.name }}</li>
            </ul>
        </div>
    </div>
</div>

<!--===================================-->
<!--========== PRODUCT INNER ==========-->
<!--===================================-->

<div class="productInnerBox pTopbtm60">
    <div class="container">
        <div class="row">
            <div class="productTop">
                <div class="col-md-8">
                    <div class="prdctInnrLeft">
                        <div class="smallImg">
                            <ul id="gallery_01">
                                {% for img in gallery %}
                                    <li>
                                        <a class="elevatezoom-gallery active" data-update=""
                                           data-image="{{ img.image.url }}" data-zoom-image="{{ img.image.url }}"
                                           href="#">
                                            <img src="{{ img.image.url }}" alt="">
                                        </a>

                                    </li>
                                {% empty %}

                                {% endfor %}
                                <li>
                                    <a class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}"
                                       href="#">
                                        <img src="{{ product.image.url }}" alt="">
                                    </a>

                                </li>

                            </ul>
                            {#                            <div class="videoBtn">#}
                            {#                                <a href="#dressVideo" data-fancybox="video">#}
                            {#                                    <img src="{{ product.image.url }}" alt=""/>#}
                            {#                                    <div id="dressVideo" class="commnVdo">#}
                            {#                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/3I-NokcLrwk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
                            {#                                    </div>#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                        <div class="bigImg">
                            <div class="bigImgBox">
                                <img id="zoom_03" data-name="product_image" src="{{ product.image.url }}"
                                     data-zoom-image="{{ product.image.url }}"/ alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="prdctSideBar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebarTop">
                                    <h2>{{ product.name }}</h2>
                                    <span>ID: sonomm{{ product.id }}</span>
                                    <div class="ratingBox">
                                        <ul class="ratingStar">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                        </ul>
                                        <div class="ratingPop">
                                            <div class="ratingItem">
                                                <h5>4.3 out of 5 stars</h5>
                                                <ul>
                                                    <li>
                                                        <a href="#">5 Stars</a>
                                                        <a class="ratingPer" href="#myModal10" data-toggle="modal"><span
                                                                style="background-color:#bd0e32;width: 70%;"></span></a>
                                                        <span>64%</span>
                                                    </li>
                                                    <li>
                                                        <a href="#">4 Stars</a>
                                                        <a class="ratingPer" href="#myModal10" data-toggle="modal"><span
                                                                style="background-color:#bd0e32;width: 50%;"></span></a>
                                                        <span>50%</span>
                                                    </li>
                                                    <li>
                                                        <a href="#">3 Stars</a>
                                                        <a class="ratingPer" href="#myModal10" data-toggle="modal"><span
                                                                style="background-color:#bd0e32;width: 30%;"></span></a>
                                                        <span>30%</span>
                                                    </li>
                                                    <li>
                                                        <a href="#">2 Stars</a>
                                                        <a class="ratingPer" href="#myModal10" data-toggle="modal"><span
                                                                style="background-color:#bd0e32;width: 15%;"></span></a>
                                                        <span>15%</span>
                                                    </li>
                                                    <li>
                                                        <a href="#">1 Stars</a>
                                                        <a class="ratingPer" href="#myModal10" data-toggle="modal"><span
                                                                style="background-color:#bd0e32;width: 9%;"></span></a>
                                                        <span>9%</span>
                                                    </li>
                                                </ul>
                                                <p>All 1,067 reviews</p>
                                            </div>
                                        </div>
                                        <div id="myModal10" class="modal" data-easein="bounceIn" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">×
                                                        </button>
                                                        <p><i class="fas fa-thumbs-up"></i> You have successfully rated
                                                            this product. Thanks for your response.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="saveBox">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h2>BTD {{ product.price }}</h2>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <span>Save {{ product.get_discunt }} %</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="clrSizeBox">
                                    <p>{{ product.sortDec }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="sideBarFtr">
                            <div class="sideBarFtrTop">
                                <div class="row">

                                    <div class="col-md-12 offset-0">
                                        <button type="button" class="sc-add-to-cart btn marTop20"><i
                                                class="fas fa-cart-plus"></i>add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prdctTabing pTopbtm60">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-12">
                    <div class="prdctTabLeft">
                        <h5>Info box</h5>
                        <p>If you order more than 2 products or in value of more than BDT 5000 you get free shipping
                            anywhere in the Dhaka,Bangladesh.</p>
                    </div>
                </div>
                {#       for Details       #}
                <div class="col-md-8 col-sm-8 col-md-12">
                    <div class="prdctTabRgt">
                        <div class="productInnerTab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#menu1">Details</a></li>
                                <li><a data-toggle="tab" href="#menu3">Comments</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <div class="prdtInnerCont">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="prdtInnerCont">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input class="form-control" id="usr" placeholder="Name"
                                                               type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input class="form-control" id="email" placeholder="Email"
                                                               type="email">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input class="form-control" id="telNo" placeholder="Phone"
                                                               type="tel">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn">Send Message</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="learningBox pTopbtm60">
            <div class="learnApp">
                <div class="container">
                    <h3>Related products</h3>
                    <div class="row">

                        {% for prd in relateds %}

                            {% include 'product/product_slide.html' %}
                        {% empty %}
                            <h2>NO Related Products</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--===================================-->
<!--============= BACK TOP ============-->
<!--===================================-->

<p class="back-top backTop"><i class="fas fa-angle-up"></i></p>

{% include "inclueds_front/footer_common.html" %}
{% include "inclueds_front/footer_link.html" %}

