
    <h2>Order Information </h2>
    <table >
        <thead>
        <tr>
            <th>Order product</th>
            <th>Product Available in Stock</th>
            <th>Customer Full Name</th>
            <th>Customer Full Phone</th>
            <th>Customer Full Email</th>
            <th>Customer Full Address</th>
        </tr>
        <tr>
            <td>{{ Product }}</td>
            <td>{{ Available_in_Stock }}</td>
            <td>{{ Customer_name }}</td>
            <td> {{ Customer_Phone }}</td>
            <td>{{ Customer_Email }}</td>
            <td>{{ Customer_Address }}</td>
        </tbody>
    </table>
    <p><a href="http://www.sonomm.com">Check it out Hear</a></p>
