
    <h2>Order Information </h2>
    <table >
        <thead>
        <tr>
            <th>Order product</th>
            <th>Product Available in Stock</th>
            <th>Customer Full Name</th>
            <th>Customer Phone</th>
            <th>Customer Email</th>
            <th>Customer Address</th>
            <th>Customer Area</th>
            <th>Customer Delivery Method</th>
        </tr>
        <tr>
            <td>{{ Product }}</td>
            <td>{{ Available_in_Stock }}</td>
            <td>{{ Customer_name }}</td>
            <td> {{ Customer_Phone }}</td>
            <td>{{ Customer_Email }}</td>
            <td>{{ Customer_Address }}</td>
            <td>{{ Customer_Area }}</td>
            <td>{{ Customer_Delivery }}</td>
        </tbody>
    </table>
    <p><a href="http://www.sonomm.com">Go To Web</a></p>
